/* Import duplicate styles */
@import "./styles/globals.css";
@import "./styles/navbar.css";
@import "./styles/footer.css";


/* Header */
header
{
  height: calc(100% - 85px);
}

header #background
{
  position: absolute;
  height: calc(100% - 85px);
  width: 100%;
  background-image: url("./graphics/mechanical-keyboards.jpg");
  background-size: cover;
  opacity: 0.2;
}

header h2
{
  position: absolute;
  font: bold 36px "Montserrat", sans-serif;
  color: beige;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--toned-dark-color);
  width: 542px;
  top: calc(50% - 50px);
  transform: translate(-50%, 0%);
  left: 50%;
  transition: .4s all;
  cursor: pointer;
  user-select: none;
}

header h2:before
{
  position: absolute;
  content: "";
  background:
    linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00,
    #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  opacity: 0;
  filter: blur(8px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  transition: opacity .4s ease-in-out;
}

header h2:hover:before { opacity: 1; }
header h2:hover { color: var(--toned-dark-color); }

@keyframes glowing
{
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/* Information */
article
{
  display: inline-flex;
  font: bold 24px "Montserrat", sans-serif;
  color: var(--toned-dark-color);
  box-shadow: 0 -5px 20px gray;
  background-color: beige;
  height: calc(100% - 128px);
  width: 100%;
}

article div
{
  margin: auto;
  text-align: center;
}

article div img
{
  height: 120px;
  margin-bottom: 10px;
}
