/* Import duplicate styles */
@import "./styles/globals.css";
@import "./styles/loading.css";
@import "./styles/navbar.css";
@import "./styles/footer.css";
@import "./styles/top-button.css";

/* Header */
header { height: calc(100% - 85px); }

header #background
{
  position: absolute;
  height: calc(100% - 85px);
  width: 100%;
  background: url("./graphics/mechanical-keyboards.jpg") no-repeat fixed center / cover;
  opacity: 0.2;
}

header h2
{
  position: absolute;
  font: bold 36px "Montserrat";
  color: beige;
  width: 542px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--toned-dark-color);
  top: calc(50% - 45px); left: 50%;
  transform: translate(-50%, 0%);
  transition: .4s all;
  user-select: none;
}

header h2:before
{
  position: absolute;
  content: "";
  background:
    linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00,
    #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  top: -2px; left: -2px;
  background-size: 400%;
  z-index: -1;
  opacity: 0;
  filter: blur(8px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: rgb 30s linear infinite;
  transition: opacity .4s ease-in-out;
}

header h2:hover:before { opacity: 1; }
header h2:hover { color: var(--toned-dark-color); }

@keyframes rgb
{
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@media (max-width: 549px)
{ header h2 { top: calc(50% - 15px); width: 345px; font-size: 22px; } }

@media (max-width: 379px)
{ header h2 { width: 265px; font-size: 16px; } }


/* Features */
#features
{
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  font: bold 36px "Montserrat";
  color: var(--toned-dark-color);
  box-shadow: 0 -5px 20px gray;
  background-color: beige;
  height: 70%; width: 100%;
  padding: 15px 0;
}

#features div
{
  text-align: center;
  margin: auto; padding: 0 30px;
}

#features div img
{ height: 200px; margin-bottom: 10px; }

@media(max-width: 999px)
{
  #features { font-size: 25px; min-height: 640px; }
  #features div img { height: 135px; margin-bottom: 0; }
}


/* About */
#about
{
  position: relative;
  font: bold 26px "Montserrat";
  text-align: center; line-height: 1.5;
  color: var(--toned-dark-color);
  background-color: var(--dark-beige-color);
  padding: 160px 120px;
  min-height: 500px;
}

#about h1
{
  font-size: 48px;
  margin-bottom: 45px;
}

@media(max-width: 829px)
{ #about { padding: 80px 60px; } }

@media(max-width: 449px)
{ #about { padding: 50px 40px; } }
