/* Import duplicate styles */
@import "../styles/globals.css";
@import "../styles/navbar.css";
@import "../styles/footer.css";

section
{
  font-size: 80px;
  text-align: center;
  margin-top: 40px;
}
