footer
{
  position: relative;
  background-color: beige;
  font: 18px "Open Sans";
  color: var(--secondary-gray-color);
  height: 130px;
  text-align: center;
  padding-top: 35px;
}

footer a
{
  color: var(--toned-dark-color);
  text-decoration: none;
}
