nav
{
  display: grid;
  grid-template-columns: 10fr 85fr 5fr;
  background-color: beige;
  width: 100%;
  box-shadow: 0 5px 20px gray;
  z-index: 1;
}

nav h1
{
  font: 38px "Eczar", serif;
  color: var(--toned-dark-color);
  padding: 11px 20px 7px 25px;
  width: 350px;
  user-select: none;
}

nav a { text-decoration: none; }

nav ul
{
  display: inline-flex;
  vertical-align: middle;
  list-style: none;
  margin-top: 18px;
  font-size: 20px;
  font-family: "Open Sans";
  height: 45px;
}

nav ul li
{
  padding: 10px;
  text-decoration: none;
  color: var(--secondary-gray-color);
  transition: .15s ease-in-out;
  backface-visibility: hidden;
}

nav ul li:hover
{
  transform: scale(1.2) translateZ(0);
  color: black;
}

#navbar-cart
{
  text-align: center;
  width: 90px;
}

#navbar-cart img
{
  height: 55px;
  padding: 5px; margin-top: 14px;
  transition: .15s ease-in-out;
}

#cart-items
{
  font: 16px "Open Sans";
  background-color: var(--dark-beige-color);
  padding: 3px 6px; border-radius: 4px;
  margin-left: 38px; margin-top: 16px;
  position: absolute;
}

#cart-button
{
  width: 50px;
  transition: .15s ease-in-out;
  cursor: pointer;
}

#cart-button:hover { transform: scale(1.2); }

@media(max-width: 669px)
{
  nav { grid-template-columns: 95fr 5fr; }
  nav h1 { display: none; }
  nav ul { padding-left: 20px; }
  #navbar-cart img { margin-bottom: 12px; }
}

@media(max-width: 359px)
{
  nav ul { padding-left: 10px; }
  nav ul li { padding: 10px 5px; }
  #navbar-cart { width: 70px; }
}
