/* Import duplicate styles */
@import "../styles/globals.css";
@import "../styles/navbar.css";
@import "../styles/footer.css";

/* Header */
header
{
  height: calc(100% - 85px);
  min-height: 715px;
}

header #background
{
  position: absolute;
  height: calc(100% - 85px);
  min-height: 715px;
  width: 100%; max-width: 100%;
  background: url("../graphics/mechanical-keyboards.jpg") no-repeat fixed center / cover;
  opacity: 0.2;
}

#wrapper
{
  position: absolute;
  width: 100%;
  left: 50%; top: 25vh;
  transform: translate(-50%, 0%);
}

#wrapper h1
{
  font: bold 50px "Montserrat";
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
}

#wrapper span
{
  font-size: 86px;
  letter-spacing: 3px;
}

#container
{
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  max-width: 100%; width: 100%;
  left: 50%; top: 100px;
  margin-top: 100px;
  transform: translate(-50%, 0%);
}

#container li
{
  font: 20px "Montserrat";
  letter-spacing: 2px;
  text-align: center;
  width: 280px; height: 295px;
  margin: 15px; padding: 25px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  transition: .15s ease-in-out;
}

#container a
{
  display: block;
  padding: 20px 25px;
  margin: -20px -25px;
  text-decoration: none;
  color: black;
}

#container li:hover { transform: scale(1.1); }

#container img { width: 200px; margin-bottom: 30px; }

@media(max-width: 1319px)
{
  #container li
  {
    margin: 15px; padding: 20px;
    width: 210px; height: 250px;
  }

  #container img { width: 160px; }
}

@media(max-width: 959px) and (max-height: 899px)
{
  #wrapper
  {
    transform: scale(0.8);
    left: 0%; top: 70px;
    padding-top: 0;
  }
}

@media(max-width: 479px)
{
  header, header #background { min-height: 1260px; }
  #wrapper { top: 40px; }
  #wrapper h1 { font-size: 32px; }
  #wrapper span { font-size: 53px; }
}

/* Content */
article
{
  font: 24px "Open Sans";
  line-height: 1.5;
  box-shadow: 0 -5px 20px gray;
}

section
{
  padding: 60px 60px 70px 60px;
  width: 100%;
  text-align: center;
}

section h2
{
  font-size: 48px;
  padding-bottom: 45px;
  letter-spacing: 3px;
}

section img { margin-top: 55px; max-width: 100%; }
#keycaps img { border-radius: 50px; }
#pcb img { border-radius: 20px; }

#case, #keycaps
{ background-color: var(--dark-beige-color); }

@media(max-width: 460px)
{
  section
  {
    padding: 30px 30px 40px 30px;
  }
}
